@import 'normalize';

$black: black;
$white: white;
$primary: #4792e3;
$input: #007bff;
$info: #17a2b8;
$stats: #00e1ff;
$table-rows: #8beaff;
$purple: #9e59ff;
$light-purple: #aeaeff;

body {
  font-family: Helvetica;
  background: $primary;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Sticky Footer
.body {
  flex: 1;
}

.footer {
  font-size: 0.8rem;
}
// Sticky Footer End

.panel {
  background-color: $light-purple;
  border-radius: 10px;
}

.player-dropdown, .player-dropdown:focus {
  background-color: $input;
  border-color: $input;
  color: $white;
}

.number-dropdown, .number-dropdown:focus {
  background-color: $info;
  border-color: $info;
  color: $white;
}

.table-wrapper{
  border-radius: 15px;

  background: $stats;
  box-shadow: 0px 35px 50px rgba(35, 0, 191, 0.742);
}

.stats {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.table {
  background-color: $primary;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table td, .table th, .table thead th {
  border: none;
}

.thead-primary th {
  background-color: $primary;
}

.table tr:nth-child(odd) {
  background-color: $table-rows;
}

.list-rolls {
  background-color: $purple;
  scrollbar-color: $purple;
  color: $white;
  padding: 10px;
  overflow: auto;
  height: 204px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.undo-roll {
  height: 50px; 
  width: 100%;
}

.chart {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
}

.col-md-5 {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: $light-purple;
  color: black;
}

img {
  float: left;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
}

h2.h-welcome {
  background-color: $white;
  font-family: Arial;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.welcome {
  padding: 20px;
  font-size: 150%;
  background-color: $white;
  border-style: solid;
  border-color: rgb(181, 144, 255);
}